<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gin Hello</title>
    </head>
    <body>
        <div>
            <h1>Hi BNJ Home</h1>
            <button type="button" id="logout" > &nbsp;&nbsp;&nbsp;登&nbsp;&nbsp;出 &nbsp; </button>
        </div>
        <div>
            <span>爬蟲 URL</span>
            <input type="text" placeholder="URL" name="URL" id="URL" value="https://zh.pngtree.com/free-vectors?source_id=310&chnl=ggas&srid=764883278&gpid=57293140505&asid=423823300736&ntwk=g&tgkw=kwd-286971347&mchk=%E5%9C%96%E5%BA%AB&mcht=b&pylc=9040379&dvic=c&gclid=Cj0KCQjwkt6aBhDKARIsAAyeLJ1bU9NabQ7KjghGeeBGvWAZDHUiFyuIp6Jigh174AiOGl9AiEgUeHoaAraCEALw_wcB">
            <span>新增條件</span>
            <input type="text" placeholder="#test .test" name="condition" id="condition" value=".mb-box li img[src]">
            <button id="addimg">新增圖片</button>
        </div>
        <div>
            <span>上傳圖片</span>
            <input id="fileImg" type="file" accept="image/gif, image/jpeg, image/png">
            <button id="uploadimg">上傳圖片</button>
        </div>
        <div id="img"></div>
        <script src="public/plus/js/jquery-1.10.2.min.js"></script>
        <script src="public/js/index.js"></script>
    </body>
</html>