<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gin Hello</title>
    </head>
    <body>
        <div>
            <h1>Hi BNJ Login</h1>
            <input type="text" placeholder="帐   号" name="BNJ_USERNAME" id="BNJ_USERNAME">
            <input type="password" placeholder="密   码" name="BNJ_PWD" id="BNJ_PWD">
            <button type="button" id="login" > &nbsp;&nbsp;&nbsp;登&nbsp;&nbsp;录 &nbsp; </button>
        </div>
        <script src="public/plus/js/jquery-1.10.2.min.js"></script>
        <script src="public/js/login.js"></script>
    </body>
</html>